<%= link_to(content_tag(:span,l(:label_docflow_list_view)),{:controller => controller.controller_name, :action => controller.action_name}, :class => "icon icon-list") %>
<hr>

<div id="docs_tree" style="padding-left:5px;">
  <% unless @versions.empty? %>
    <% categories = DocflowCategory.order("lft")
       versions = @versions.sort_by{|version| [version.docflow.title,version.version]}
     %>
    <%= li_tree(categories) do |category| %>
      <%
        category_versions = versions.inject([]){|cv,version| (version.docflow.docflow_category_id == category.id) ? cv.push(version) : cv }
        html = ""
        prev_ver, ver = nil, nil

        category_versions.each_index do |i|
          if (!prev_ver.nil? && prev_ver.docflow.id != category_versions[i].docflow.id)
            html << "<li class='tree_leaf'>"+prev_ver.docflow.type.name+": "+prev_ver.docflow.title+" "+ver+"</li>"
            ver = nil        
          end

          if i == category_versions.size-1
            ver = ver.nil? ? link_to_version(category_versions[i]) : (ver+", "+link_to_version(category_versions[i]))
            html << "<li class='tree_leaf'>"+prev_ver.docflow.type.name+": "+prev_ver.docflow.title+" "+ver+"</li>"          
          end

          ver = ver.nil? ? link_to_version(category_versions[i]) : (ver+", "+link_to_version(category_versions[i]))
          prev_ver = category_versions[i]
        end
        html
        #category_versions.inject(""){ |html,cv| html << "<li class='tree_leaf'>"+cv.docflow.type.name+": "+cv.docflow.title+" "+link_to_version(cv)+"</li>" }
      %>  
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  jQuery(document).ready(function(){
    sort_tree("docs_tree");
    clear_tree("docs_tree");
  });
</script>
