<%= render :partial => 'docflows/head' %>
<h2><%= l(:label_docflow_check_list_for)+" "+@version.docflow.title %></h2>

<%= render_tabs version_checklists_tabs %>

<% content_for :sidebar do %>
    <%= render :partial => 'docflows/sidebar' %>
<% end %>